*{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.darkMode{
    padding: 20px;
    text-align: right;
}



.backgroundBlack{
    background-color: #000;
    color: #fff;
    transition: 500ms;
}


.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
}

.back{
    background-image: url(../img/zombiesGameOver.jpg);
}

.container{
    
    max-width: 500px;
    margin: 150px auto;
}

.btns{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

button{
    width: 48%;
    height: 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: cadetblue;
}

button:hover{
    background-color: rgb(48, 90, 92);
    transition: 500ms;
    transform: scale(1.1);
}

p{
    height: 150px;
}

.back{
    background-image: url(../img/zombiesGameOver.jpg);
}
