*{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.darkMode{
    padding: 20px;
    float: right;
    position: relative;
    top: -110px;
}


.backgroundBlack{
    background-color: #000;
    color: #fff;
    transition: 500ms;
}


.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
}

.back{
    background-image: url(../img/zombiesGameOver.jpg);
}

.container{
    
    max-width: 500px;
    margin: 150px auto;
}

.btns{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.displayNone{
    display: none;
    transition: 500ms;
}

.loading{
    
    margin: 150px auto;
    width: 300px;
    background-image: url(../img/load.jpg);
    background-size: cover;
}

@keyframes animaLoad {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.titleLoad{
    text-align: center;
    position: relative;
    top: 180px;
    animation: animaLoad .75s linear infinite;
}

button{
    width: 48%;
    height: 50px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: cadetblue;
}

button:hover{
    background-color: rgb(48, 90, 92);
    transition: 500ms;
    transform: scale(1.1);
}

p{
    height: 150px;
}

.back{
    background-image: url(../img/zombiesGameOver.jpg);
}



input[type="radio"] {
    visibility: hidden;
}

label {
display: block;
width: 30px;
float: left;
}

input[type="radio"]:checked+label {
    color: cadetblue;
}

input[type="radio"]:hover+label {
    cursor: pointer;
}
img {
height: 50px;
}